<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
</head>
<body>
    <%- include('./partials/nav') %>
    <h1 class="d-flex justify-content-center"><%= blog.Title %></h1>
    <div class="card">
        <div class="d-flex justify-content-center align-items-center" style="height: 500px;">
            <img src="<%= blog.ImageURL %>" class="card-img-top" style="max-width: 50%; max-height: 80%;">
        </div>
        <div class="card-body">
            <p class="card-text"><%= blog.Body %></p>
        </div>
        <div class="card-body">
            <img src="<%= blog.createdBy.profileImageURL %>" class="card-img-top" style="max-width: 50px">
            <span style="font-size: x-large; padding-left: 3px;"><%= blog.createdBy.fullname %></span>
        </div>
    </div>

    <% comments.forEach(comment => { %>
        <div class="mt-5">
            <img src="<%= comment.createdBy.profileImageURL %>" class="card-img-top" style="max-width: 50px">
            <span style="font-size: x-large; padding-left: 3px;"><%= comment.createdBy.fullname %></span>
            <p><%= comment.content %></p>
        </div>
    <% }) %>

    <form action="/addBlog/comment/<%= blog._id %>" method="post">
        <div class="mt-5">
            <input type="text" name="content" class="form-control" id="content" aria-describedby="ImageURL">
        </div>
        <button type="submit" class="btn mt-3 btn-primary">Submit</button>
    </form>
    <%- include('./partials/script') %>
</body>
</html>
