<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
</head>
<body>
    <%- include('./partials/nav') %>
    <div class="blogs container mt-5 d-flex justify-content-space-between align-items-center">
    <% blogs.forEach(blog => { %>
        <div class="card" style="width: 18rem; height: 550px; margin: 20px;">
            <img src="<%= blog.ImageURL %>" class="card-img-top" style=" height:300px; overflow: hidden;">
            <div class="card-body">
                <h5 class="card-title"><%= blog.Title %></h5>
                <p class="card-text" style="height: 220px; overflow: hidden;" ><%= blog.Body %></p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    <% }) %>
    </div>
    <%- include('./partials/script') %>
</body>
</html>
